body{
	padding: 5px;
}

.principal{
	background-color: black;
	color: white;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8{
	display: inline-block;
	margin: 0 20px;
}

.p8{
	float: right;
}

.img1, .img22{
	width: 10px;
	height: 10px;
}

.secondaire{
	background-color: blue;
	color: white;
}

.s1{
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.img2{
	width: 200px;
	height: 200px;
	float: left;
	margin: 5px;
}

.ps1{
	text-align: center;
	margin: 50px 25%;
}

.bt{
	background-color: orange;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

.t1, .t3{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.t2{
	background-color: blue;
	color: white;
	overflow: auto;
	text-align: center;
}

.tg{
	color: gray;
}

h2{
	font-weight:bold;
}

.t2g{
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 100px;
}

.t2d{
	width: 50%;
	float: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 100px;
}

.lgm{
	width: 30px;
	height: 30px;
}

.partenaire{
	background-color: lightgray;
	padding-top: 10px;
	padding-bottom: 10px;
}

.p1l{
	margin: 0 25%;
	padding-top: 10px;
}

.pl2{
	margin: 0 25%;
}

.lc{
	margin: 0 45%;
}

.lp1, .lp2, .lp3, .lp4, .lp5, .lp6{
	filter: grayscale(100%);
	width: 100px;
	height: 80px;
}

.lp7{
	width: 100px;
	height: 80px;
}

.bt3{
	padding-top: 10px;
	padding-bottom: 10px;
}

.b1{
	background-color: blue;
	color: white;
	border-radius: 5px;
}

.b2{
	background-color: blue;
	color: white;
	border-radius: 5px;
}

.b3{
	background-color: orange;
	color: white;
	border-radius: 5px;
}

.bc{
	margin: 0 35%;
	padding: 10px;
}

.fin{
	background-color: black;
	color: white;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}